@import '../../../index';

.Steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;
  color: #fff;
  width: 80%;
  padding: 20px;
  cursor: default;
  @media screen and (max-width: 550px) {
    width: 15%;
    padding: 0;
  }
}

.stepNum {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
  min-width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: background-color 0.3s linear;
  @media screen and (max-width: 550px) {
    margin-right: 0;
  }
}

.stepName {
  max-width: 100px;
  width: 100%;
  span {
    color: $SubText;
  }

  @media screen and (max-width: 550px) {
    display: none;
  }
}

.selectStep {
  background-color: $SubText;
}

.visitStep {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 1;
  }
}
