@import '../../index';

.Chapter {
  display: flex;
  flex-direction: column;
  color: $TextStep;
  padding: 40px 30px;
  font-size: 12px;

  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 550px) {
    background-color: $White;
    border-radius: 20px;
    z-index: 100;
    margin-top: 140px;
    font-size: 10px;
    h1 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  p,
  input::placeholder {
    color: $DiscPlace;
  }

  .nextStep {
    background-color: $TextStep;
    color: #fff;
    width: 70px;
    height: 30px;
    border-radius: 10px;
  }

  .goBack {
    color: $DiscPlace;
  }

  .navButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 550px) {
      margin-top: 20px;
    }
  }
}

.Finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Thank {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
    max-width: 300px;
    h1 {
      color: $TextStep;
    }
    p {
      color: $DiscPlace;
    }
  }
}
