@import '../../index';

.Chapter {
  display: flex;
  flex-direction: column;
  color: $TextStep;
  padding: 40px 30px;
  font-size: 12px;

  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  p,
  input::placeholder {
    color: $DiscPlace;
  }

  .nextStep {
    background-color: $TextStep;
    color: #fff;
    width: 70px;
    height: 30px;
    border-radius: 10px;
  }

  .goBack {
    color: $DiscPlace;
  }

  .navButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
