@import '../../../../../../index.scss';

input[type='text'],
input[type='phone'],
input[type='email'] {
  width: 60%;
  height: 30px;
  border: 1px solid $DiscPlace;
  border-radius: 10px;
  padding: 10px;
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}
